$phone-width: 576px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin desktop {
    @media (max-width: #{$desktop-width}) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin phone {
    @media (max-width: #{$phone-width}) {
        @content;
    }
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.slicknav_menu {
    display:none;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: inherit;
    margin: 0;
    line-height: 100%;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

h1,
h2,
h3,
h4 {
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

/*a:hover {
    opacity: .9
}*/

img {
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}
